header.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.btn-menu {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

div.container-central {
  display: flex;
}
nav.container-menu {
  margin-right: 20px;
  border-right: solid rgb(199, 198, 196) 1px;
  padding-right: 20px;
}
.sexo {
  margin-right: 3px;
}
div.container-bnt-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 300px;
}

button.bnt-form {
  margin-left: 10px;
  width: 100px;
}
