<header class="container topo">
  <h1>E-Questionário</h1>
  <small for="">Questionário Social</small>
</header>
<hr />
<div class="container container-central">
  <nav class="container-menu">
    <aside><button class="btn btn-light btn-menu">Cadastrar</button></aside>
    <aside><button class="btn btn-light btn-menu">Estatística</button></aside>
    <aside><button class="btn btn-light btn-menu">Pessoas</button></aside>
  </nav>
  <section>
    <aside>
      <form #cadastro="ngForm" (submit)="cadastrar(cadastro)">
        <div class="form-group">
          <label for="nome" name="nome">Nome</label><br />
          <input
            class="form-control"
            [(ngModel)]="nome"
            type="text"
            name="nome"
            placeholder="ex: Lucas Pedro"
            required
          />
        </div>
        <!-- /caixa de sexo\ -->
        <div class="form-group">
          <label class="sexo" for="sexo" name="sexo">Sexo</label><br />

          <input
            class="sexo"
            [(ngModel)]="sexo"
            type="radio"
            name="sexo"
            value="masculino"
          />
          <label class="sexo" name="masculino"> Masculino </label>
          <input
            class="sexo"
            [(ngModel)]="sexo"
            type="radio"
            name="sexo"
            value="Feminino"
          />
          <label class="sexo" for="feminino" name="feminino">Feminino </label>
        </div>
        <!-- /caixa de idade\ -->
        <div class="form-group">
          <label for="Idade" name="idade">Idade</label> <br />
          <input
            class="form-control"
            [(ngModel)]="idade"
            type="number"
            name="idade"
            placeholder="ex: 23"
            required
          />
        </div>
        <!-- /caixa de cidades -->
        <div class="form-group">
          <label for="cidade" name="cidade">Cidade</label> <br />
          <select
            class="form-control"
            [(ngModel)]="cidade"
            name="cidade"
            required
          >
            <option value="Palmas">Palmas</option>
            <option value="Paraíso">Paraiso</option>
            <option value="Porto Nacional">Porto Nacional</option>
          </select>
        </div>
        <!-- /caixa de botões -->
        <div class="form-group container-bnt-form">
          <button
            class="btn btn-primary bnt-form"
            type="submit"
            [disabled]="!cadastro.valid"
          >
            Salvar
          </button>
          <button class="btn btn-dark bnt-form" type="reset" formnovalidate>
            Limpar
          </button>
        </div>
      </form>
      <small>Sistema de cadastro de pessoas!</small>
    </aside>
    <aside>Estatística da pesquisa.</aside>
    <aside>Lista de pessoas</aside>
  </section>
</div>
