<header class="container topo">
  <h1>E-Questionário</h1>
  <small for="">Questionário Social</small>
</header>
<hr />
<div class="container container-central">
  <nav class="container-menu">
    <aside>
      <button
        class="btn btn-light btn-menu"
        (click)="apresentarTela('Cadastro')"
      >
        Cadastrar
      </button>
    </aside>
    <aside>
      <button
        class="btn btn-light btn-menu"
        (click)="apresentarTela('Estatística')"
      >
        Estatística
      </button>
    </aside>
    <!-- <aside>
      <button
        class="btn btn-light btn-menu"
        (click)="apresentarTela('Pessoas')"
      >
        Pessoas
      </button>
    </aside> -->
  </nav>
  <section>
    <!-- container de cadastro de pessoas (FORMULÁRIO) -->
    <aside *ngIf="this.tela === 'Cadastro'">
      <form #cadastro="ngForm" (submit)="cadastrar(cadastro)">
        <div class="form-group">
          <label for="nome" name="nome">Nome</label><br />
          <input
            class="form-control"
            [(ngModel)]="nome"
            type="text"
            name="nome"
            placeholder="ex: Lucas Pedro"
            required
          />
        </div>
        <!-- /caixa de sexo\ -->
        <div class="form-group">
          <label class="sexo" for="sexo" name="sexo">Sexo</label><br />
          <input
            id="Masculino"
            for="Masculino"
            class="sexo"
            [(ngModel)]="sexo"
            type="radio"
            name="sexo"
            value="Masculino"
          />
          <label class="sexo" name="Masculino" id="Masculino" for="Masculino">
            Masculino
          </label>
          <input
            for="Feminino"
            id="Feminino"
            class="sexo"
            [(ngModel)]="sexo"
            type="radio"
            name="sexo"
            value="Feminino"
          />
          <label class="sexo" id="Feminino" for="Feminino" name="Feminino"
            >Feminino
          </label>
        </div>
        <!-- /caixa de idade\ -->
        <div class="form-group">
          <label for="Idade" name="idade">Idade</label> <br />
          <input
            class="form-control"
            [(ngModel)]="idade"
            type="number"
            name="idade"
            placeholder="ex: 23"
            required
          />
        </div>
        <!-- /caixa de cidades -->
        <div class="form-group">
          <label for="cidade" name="cidade">Cidade</label> <br />
          <select
            class="form-control"
            [(ngModel)]="selecionaCidade"
            name="cidade"
            required
          >
            <option
              *ngFor="let cidade of pessoa.getListarCidade()"
              [value]="cidade"
            >
              {{ cidade }}
            </option>
          </select>
        </div>
        <!-- /caixa de botões -->
        <div class="form-group container-bnt-form">
          <button
            class="btn btn-primary bnt-form"
            type="submit"
            [disabled]="!cadastro.valid"
          >
            Salvar
          </button>
          <button class="btn btn-dark bnt-form" type="reset" formnovalidate>
            Limpar
          </button>
        </div>
      </form>
      <small>Sistema de cadastro de pessoas!</small>
    </aside>
    <section *ngIf="this.tela === 'Estatística'">
      <!-- container de informações da pesquisa (Porcetagem de pessoas por sexo nas cidades) -->
      <aside>
        <h5 style="margin-bottom: 20px;">
          Porcetagem de pessoas por sexo nas cidades
        </h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cidade</th>
              <th scope="col">% Feminino</th>
              <th scope="col">% Masculino</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Palmas</td>
              <td>{{ pessoa.getPorcetagemMulherPalmas() }} %</td>
              <td>{{ pessoa.getPorcetagemHomemPalmas() }} %</td>
            </tr>
            <tr>
              <td>Porto Nacional</td>
              <td>{{ pessoa.getPorcetagemMulherPorto() }} %</td>
              <td>{{ pessoa.getPorcetagemHomemPorto() }} %</td>
            </tr>
            <tr>
              <td>Paraíso</td>
              <td>{{ pessoa.getPorcetagemMulherParaiso() }} %</td>
              <td>{{ pessoa.getPorcetagemHomemParaiso() }} %</td>
            </tr>
          </tbody>
        </table>
      </aside>
      <!-- container de informações da pesquisa (Média de idade em cada cidade) -->
      <aside>
        <h5 style="margin-bottom: 20px; margin-top: 30px;">
          Média de idade em cada cidade
        </h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Cidades</th>
              <th>Média</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cidade of pessoa.getListarCidade()">
              <td>{{ cidade }}</td>
              <td *ngIf="cidade === 'Palmas'">
                {{ pessoa.getIdadeMediaPalmas() }}
              </td>
              <td *ngIf="cidade === 'Paraíso'">
                {{ pessoa.getIdadeMediaParaiso() }}
              </td>
              <td *ngIf="cidade === 'Porto Nacional'">
                {{ pessoa.getIdadeMediaPorto() }}
              </td>
            </tr>
          </tbody>
        </table>
      </aside>
      <!-- container de informações da pesquisa (Homens e Mulheres com maior e menor idade.) -->
      <aside>
        <h5 style="margin-bottom: 20px; margin-top: 30px;">
          Homens e Mulheres com maior e menor idade.
        </h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Pessoa mais velha:</td>
              <td>{{ pessoa.getPessoaMaisVelha() }}</td>
            </tr>
            <tr>
              <td>Pessoa mais nova:</td>
              <td>{{ pessoa.getPessoaMaisNova() }}</td>
            </tr>
            <tr>
              <td>Média de idade das Mulheres</td>
              <td>{{ pessoa.getMediaIdadeMulher() }}</td>
            </tr>
            <tr>
              <td>Média de idade dos Homes</td>
              <td>{{ pessoa.getMediaIdadeHomem() }}</td>
            </tr>
          </tbody>
        </table>
      </aside>
    </section>
    <!-- container de infromações da pesquisa (Realação das pessoas) -->
    <aside *ngIf="this.tela === 'Pessoas'">
      <h5 style="margin-bottom: 20px; margin-top: 30px;">
        Lista de pessoas que responderam questionário
      </h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Idade</th>
            <th>Cidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoa.getListarPessoa()">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sexo }}</td>
            <td>{{ pessoa.idade }}</td>
            <td>{{ pessoa.cidade }}</td>
          </tr>
        </tbody>
      </table>
    </aside>
  </section>
</div>
