<h1>Questionário Social</h1>

<nav class="container topo"></nav>
<hr />

<!-- Container de Formulário Cadastro -->
<div>
  <span> <strong>Cadastro de Pessoas</strong></span>
  <form #cadastro="ngForm" (submit)="salvar()">
    <div>
      <label for="nome" name="nome">Nome</label><br />
      <input
        [(ngModel)]="nome"
        type="text"
        name="nome"
        placeholder="ex: Lucas Pedro"
        required
      />
      <br />

      <label for="sexo" name="sexo">Sexo</label><br />

      <input [(ngModel)]="sexo" type="radio" name="sexo" value="masculino" />
      <label name="masculino"> Masculino: </label>

      <input [(ngModel)]="sexo" type="radio" name="sexo" value="Feminino" />
      <label for="feminino" name="feminino">Feminino: </label>
      <br />

      <label for="Idade" name="idade">Idade</label> <br />
      <input
        [(ngModel)]="idade"
        type="number"
        name="idade"
        placeholder="ex: 23"
        required
      /><br />

      <label for="cidade" name="cidade">Cidade</label>
      <br />
      <select [(ngModel)]="cidade" name="cidade" required>
        <option value="Palmas">Palmas</option>
        <option value="Paraíso">Paraiso</option>
        <option value="Porto Nacional">Porto Nacional</option>
      </select>
    </div>
    <div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!cadastro.valid"
      >
        Salvar
      </button>
      <button class="btn btn-dark" type="reset" formnovalidate>
        Limpar
      </button>
    </div>
  </form>
</div>
